<div class="container job-item-section">
    <div class="card bg-light mb-3 border-primary">
    <!-- <div class="card text-white bg-info mb-3"> -->
        <div class="card-body">
            <div class="row">
                <h2 class="card-title" style="font-size: 2.5em;">{{job.jobTitle}}</h2>
            </div>
            <div class="row">
                <div class="col-6">
                    <p><b>by {{job.company}}</b></p>
                </div>
                <div class="col-6">
                    <p style="text-align: right;">{{job.date}}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <h6 style="font-size: 1.2em;">Skills: {{job.skills}}</h6>
            </div>
            <div class="row">
                <h4 style="font-size: 1.5em;">Description</h4>
                <output>
                    <p style="text-align: justify; min-height: 200px; vertical-align: text-top; font-size: 1.1em;">{{job.description}}</p>
                </output>
            </div>
            <div class="row">
                <p style="font-size: 1.1em;">Required education: {{job.requiredEducation}}</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <p style="font-size: 1.1em;">Location: {{job.location}}</p>
                </div>
                <div class="col-6">
                    <p style="text-align: right; font-size: 1.1em;">Engagement: {{job.engagement}}</p>
                </div>
            </div>
            <div class="row">
                <p style="font-size: 1.1em;">Benefits: {{job.benefits}}</p>
            </div>

            <div class="row" >
                <div class="col-6" *ngIf="job.user != user">
                    <!-- <button class="btn-apply btn" (click)="apply(job.jobTitle, job.email)">Apply</button> -->
                    <button class="btn-apply btn" (click)="applyDialog()">Apply</button>
                </div>
                <div class="col-6" *ngIf="job.user == user">
                    <button class="btn-view btn" (click)="viewDialog()" >View all job applications</button>
                </div>

                <div class="col-6" *ngIf="job.user == user" style="text-align: right;">
                    <button class="btn-delete btn" (click)="delete(job.jobTitle, job.company)">Delete</button>
                </div>
                <div class="col-6 " style="margin: auto; padding: auto;" *ngIf="job.user != user">
                    <p class="salary" >{{job.salary}}€</p>
                </div>
            </div>
        </div>
    </div>
</div>
