.gradient-custom {

    background: #6a11cb;
    

    background: -webkit-linear-gradient(to top, rgba(37, 37, 255), rgba(22, 28, 38, 1));
    

    background: linear-gradient(to top, rgba(37, 37, 255), rgba(22, 28, 38, 1))
}

.error {
    color: red;
    text-align: left;
}