.search-input {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
    margin-left: 73%; 
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {
    padding-right: 50px;
    padding-top: 2px;
    color: rgb(186, 186, 186);
    min-width: 50px;
    text-align: center;
}
 
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
 
@media (max-width: 1590px) {
    .input-icons i {
        margin-left: 72.5%; 
    }
}

@media (max-width: 1300px) {
    .input-icons i {
        margin-left: 72%; 
    }
}

@media (max-width: 1100px) {
    .input-icons i {
        margin-left: 71.5%; 
    }
}

@media (max-width: 991px) {
    .search-input {
        margin-left: 10px;
        margin-top: 10px;
        width: 98%;
    }
    .input-icons i {
        margin-left: 94%; 
    }
}



@media (max-width: 550px) {
    .search-input {
        margin-left: 10px;
        margin-top: 10px;
        width: 96%;
    }
    .input-icons i {
        margin-left: 90%; 
    }
}

@media (max-width: 400px) {
    .input-icons i {
        margin-left: 88%; 
    }
}