<div>
    
    <header>    
        <a href="#" class="logo"><span>A</span>dvertising <span>J</span>obs</a> 
        <nav [class]="showMenu? 'active':''" >
            <ul class="menu">
                <li (click)="clickMenu()"><a *ngIf="token == ''" class="btn" routerLink="/login" routerLinkActive="active">Login</a></li>
                <li (click)="clickMenu()"><a class="btn" routerLink="/jobinfo/list" routerLinkActive="active">Job List</a></li>
                <li (click)="clickMenu()"><a *ngIf="token !== ''" class="btn" routerLink="/jobinfo/plist" routerLinkActive="active">My List</a></li>
                <li (click)="clickMenu()"><a class="btn" routerLink="/jobinfo/add" routerLinkActive="active">Add Job</a></li>
                <li (click)="clickMenu()"><a *ngIf="user !== ''" class="btn" (click)="logout()">Logout</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <i class="fa fa-bars" aria-hidden="true" (click)="clickMenu()"></i>
        </div>
    </header>
    
    <div>
        <router-outlet></router-outlet> 
    </div>
    
</div>
